@value makerWheat, makerBlack, makerWhite, makerShadow from '../../common/colors.css';

.card {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 1em;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  background-color: yellow;
  box-shadow: makerShadow;
  max-width: 30rem;
}

.card.dark {
  background-color: makerBlack;
  color: makerWhite;
}
.card.light {
  background-color: makerWhite;
  color: makerBlack;
}
.card.colorful {
  background-color: makerColorful;
  color: makerBlack;
}
.avatar {
  width: 10em;
  height: 10em;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 1em;
  border-radius: 50%;
}
.info {
    width: 100%;
}
.location,
.gym,
.squat1rm,
.benchpress,
.deadlift {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}
.name {
  font-size: 1.2rem;
}
.type {
  margin-bottom: 1em;
}
.type::after {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  background-color: makerBlack;
  transform: translateY(0.5em);
}
